
<h2>Add New Data Item</h2>

<form role="form" name="form" ng-submit="addNew()" novalidate>
    <div class="form-group">
        <label for="Name">Data Item Name</label>
        <input type="text" class="form-control" id="Name" name="dataItemName" ng-model="dataItem.name" placeholder="Data Item Name" required>
        <span ng-show="submitted && form.dataItemName.$error.required">This field is required</span>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" ng-model="dataItem.description" placeholder="Enter Description Here"></textarea>
    </div>
    <div class="radio">
        <label>
            <input name="type" type="radio" id="typeBoolean" ng-model="dataItem.type" value="Boolean"> Boolean
        </label>
    </div>
    <div class="radio">
        <label>
            <input name="type" type="radio" id="typeNumeric" ng-model="dataItem.type" value="numeric"> numeric
        </label>
    </div>



    <button type="submit" class="btn btn-default" ng-click="submitted=true">Submit</button>
</form>
