
<form role="form" name="form" ng-submit="addNew()" novalidate>
    <div class="row">


        <div class="col-md-12">

            <h4>New Calculation</h4>
            <div class="form-group">
                <label for="Name">Calculation Name</label>


                <input type="text" id="name" class="form-control" name="name" ng-model="calculation.Name" placeholder="Calculation Name" required>

            </div>
            <div class="alert alert-danger" ng-show="submitted && form.name.$error.required">This field is required</div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="form-group">

                <h4>Data Items</h4>

                <div class="button-box">
                    <button type="button" ng-repeat="dataItem in dataItems" ng-disabled="!addRules.dataItem" class="btn btn-info" ng-bind="dataItem.name" ng-click="AddTag(dataItem.name,1)"></button>


                </div>


            </div>

        </div>


        <div class="col-md-6">

            <h4>Free Varible</h4>


            <div class="form-group">

                <input type="text" " class=" form-control" name="numberVarible" id="numberVarible" placeholder="enter free varible" />
            </div>

            <div class="button-box">

                <button type="button" class="btn btn-info">Add Free Varible</button>
                <button type="button" class="btn btn-info">True</button>
                <button type="button" class="btn btn-info">False</button>
                <button type="button" class="btn btn-info">0</button>
                <button type="button" class="btn btn-info">Nothing</button>
            </div>
        </div>


    </div>




    <div class="row">
        <div class="col-md-4">

            <div class="form-group">

                <h4>Operands</h4>

                <div class="button-box">

                    <button type="button" ng-disabled="!addRules.operands" class="btn btn-warning" ng-click="AddTag('+',2)">+</button>
                    <button type="button" ng-disabled="!addRules.operands" class="btn btn-warning" ng-click="AddTag('-',2)">-</button>
                    <button type="button" ng-disabled="!addRules.operands" class="btn btn-warning" ng-click="AddTag('*',2)">*</button>
                    <button type="button" ng-disabled="!addRules.operands" class="btn btn-warning" ng-click="AddTag('/',2)">/</button>
                    <button type="button" ng-disabled="!addRules.bracketStart" class="btn btn-success" ng-click="AddTag('(',3)">(</button>
                    <button type="button" ng-disabled="!addRules.bracketEnd" class="btn btn-success" ng-click="AddTag(')',4)">)</button>
                </div>
            </div>




            <div class="form-group">

                <h4>Conditional</h4>


                <div class="button-box">
                    <button type="button" ng-disabled="!addRules.conditional" class="btn btn-info">if</button>
                    <button type="button" ng-disabled="!addRules.conditional" class="btn btn-info">then</button>
                    <button type="button" ng-disabled="!addRules.conditional" class="btn btn-info">and</button>
                    <button type="button" ng-disabled="!addRules.conditional" class="btn btn-info">or</button>
                    <button type="button" ng-disabled="!addRules.conditional" class="btn btn-info">not</button>
                </div>
            </div>



        </div>

        <div class="col-md-8">


            <div class="form-group">
                <h4>Calculation</h4>

                <div name="calculationView" calceditor ng-bind-html="calculationHtml | to_trusted" class="form-control" contenteditable="true">


                </div>

                <textarea id="calculation" name="calculation" class="form-control" ng-model="calculation.calculation" placeholder="Enter Calculation Here" required></textarea>

            </div>
            <div class="alert alert-danger" ng-show="submitted && form.calculation.$error.required">This field is required</div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <h4>Boolean</h4>
            <div class="form-group">

                <div class="button-box">
                    <button type="button" class="btn btn-default" ng-click="AddTag('<=',3)">Less Than Or Equal to <=</button>
                    <button type="button" class="btn btn-default" ng-click="AddTag('<',3)">Less Than <</button>
                    <button type="button" class="btn btn-default" ng-click="AddTag('<',3)">Greater Than ></button>
                    <button type="button" class="btn btn-default" ng-click="AddTag('=>',3)">Greater Than Or Equal to =></button>
                    <button type="button" class="btn btn-default" ng-click="AddTag('==',3)">Equal to ==</button>
                    <button type="button" class="btn btn-default" ng-click="AddTag('!=',3)">Not Equal to !=</button>
                </div>
            </div>


        </div>


        <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>


</form>
